@inject IAppointmentService _appointmentService
@inject DialogService _dialogService

<div class="row">
    <div class="col-lg-8">
        <RadzenScheduler style="height:740px;" @ref=@scheduler LoadData="@OnLoadData" TItem="AppointmentCalendarDetails"
        Data=@calendarAppointments StartProperty="Start" EndProperty="End" TextProperty="Title" SelectedIndex="2"
        SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender>
            <RadzenDayView />
            <RadzenWeekView />
            <RadzenMonthView />
        </RadzenScheduler>
    </div>
    <div class="col-lg-4">
        <h1 class="fw-400">@appointmentsDisplayTitle</h1>
        <hr />

        @if ((employeeAppointments?.Count ?? 0) > 0)
        {
            <RadzenTree style="width: 100%;" Data="@employeeAppointments">
                <RadzenTreeLevel TextProperty="ServiceTitle" ChildrenProperty="Customers" />
                <RadzenTreeLevel TextProperty="ServiceCustomerDescription" HasChildren="@((customer) => false)" />
            </RadzenTree>
        }
        else
        {
            <p class="lead">@appointmentsDisplayMessage</p>
            <a href="#">Crea una cita</a>
        }
    </div>
</div>

@code {
    private string appointmentsDisplayTitle;
    private string appointmentsDisplayMessage;
    RadzenScheduler<AppointmentCalendarDetails> scheduler;
    IList<AppointmentCalendarDetails> calendarAppointments;
    IList<EmployeeServiceAppointments> employeeAppointments;

    protected override async Task OnInitializedAsync()
    {
        appointmentsDisplayTitle = "Saludos!";
        appointmentsDisplayMessage = "Seleccione un día en el calendario para ver el listado de citas aquí.";
    }

    async Task OnLoadData(SchedulerLoadDataEventArgs args)
    {
        // Populate calendar
        calendarAppointments = await _appointmentService.GetAppointmentsBetweenDates(args.Start, args.End);
    }

    async Task OnSlotSelect(SchedulerSlotSelectEventArgs args)
    {
        // Get employee appointments for selected date
        appointmentsDisplayTitle = args.Start.Date.ToString("D", new CultureInfo("es-ES"));
        appointmentsDisplayMessage = "No tiene ninguna cita hoy.";
        employeeAppointments = await _appointmentService.GetEmployeeServiceAppointmentsByDate(args.Start.Date);
    }

    async Task OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<AppointmentCalendarDetails> args)
    {
        var appointmentService = args.Data.Title;
        var appointmentDate = args.Data.Start.Date.ToString("d");
        await _dialogService.OpenAsync<AppointmentDetailsPage>(appointmentService + " (" + appointmentDate + ")", new Dictionary<string, object> { { "AppointmentId", args.Data.AppointmentId } });
        await scheduler.Reload();
    }

    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<AppointmentCalendarDetails> args)
    {
        var currentTime = DateTime.UtcNow.ToLocalTime();
        if (args.Data.End < currentTime)
        {
            args.Attributes["style"] = "background: #B0C4DE";
        }else
        {
            args.Attributes["style"] = "background: #17a2b8";
        }
    }
}
